<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>esc.Index</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>esc.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>esc.RegisterAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QcAction</servlet-name>
    <servlet-class>esc.QcAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddToLove</servlet-name>
    <servlet-class>esc.AddToLove</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetLoveAction</servlet-name>
    <servlet-class>esc.GetLoveAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryAction</servlet-name>
    <servlet-class>esc.QueryAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JgQueryAction</servlet-name>
    <servlet-class>esc.JgQueryAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginOutAction</servlet-name>
    <servlet-class>esc.LoginOutAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveToLove</servlet-name>
    <servlet-class>esc.RemoveToLove</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoveNumAction</servlet-name>
    <servlet-class>esc.LoveNumAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetHotLove</servlet-name>
    <servlet-class>esc.GetHotLove</servlet-class>
  </servlet>












  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QcAction</servlet-name>
    <url-pattern>/QcAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddToLove</servlet-name>
    <url-pattern>/AddToLove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetLoveAction</servlet-name>
    <url-pattern>/GetLoveAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAction</servlet-name>
    <url-pattern>/QueryAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JgQueryAction</servlet-name>
    <url-pattern>/JgQueryAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginOutAction</servlet-name>
    <url-pattern>/LoginOutAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveToLove</servlet-name>
    <url-pattern>/RemoveToLove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoveNumAction</servlet-name>
    <url-pattern>/LoveNumAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetHotLove</servlet-name>
    <url-pattern>/GetHotLove</url-pattern>
  </servlet-mapping>
<welcome-file-list>
    <welcome-file>Index</welcome-file>
  </welcome-file-list>
</web-app>